@using Inter.Core.App.Enumerables

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Start Time:</label>
            <input type="time" name="StartTime" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Finish Time:</label>
            <input type="time" name="FinishTime" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Book Price:</label>
            <input type="number" name="BookPrice" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Exam Price:</label>
            <input type="number" name="ExamPrice" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Insurance Price:</label>
            <input type="number" name="InsurancePrice" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Accomodation Price:</label>
            <input type="number" name="AccomodationPrice" class="form-control">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Period:</label>
            <select name="Period" asp-items="Html.GetEnumSelectList<PeriodClass>()" data-val-required="The Period field is required." class="form-control">
                <option value="">Selected</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Total Price:</label>
            <input type="number" name="TotalPrice" class="form-control">
        </div>
    </div>
</div>