@model CollegeTimeViewModel

@using Inter.Core.App.Enumerables

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Time College</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="form-create-collegeTime">

                @await Html.PartialAsync("~/Views/College/_partial/_form_modal_collegeTime.cshtml")

                <input asp-for="CollegeId" type="hidden" value="@ViewBag.CollegeId" />

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="college.createCollegeTime();" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
