################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/INTER.CORE/.vs/INTER.CORE/v15/Server/sqlite3/storage.ide-wal
