/INTER.CORE/Inter.Core.App/obj/Debug/netcoreapp2.2/Inter.Core.App.csprojAssemblyReference.cache
/INTER.CORE/Inter.Core.Infra.Data/obj/Debug/netcoreapp2.2/Inter.Core.Infra.Data.csprojAssemblyReference.cache
/INTER.CORE/Inter.Core.Presentation/bin/Debug/netcoreapp2.2/Inter.Core.Presentation.Views.dll
/INTER.CORE/Inter.Core.Presentation/bin/Debug/netcoreapp2.2/Inter.Core.Presentation.Views.pdb
/INTER.CORE/Inter.Core.Presentation/obj/Debug/netcoreapp2.2/Inter.Core.Presentation.csproj.FileListAbsolute.txt
/INTER.CORE/Inter.Core.Presentation/obj/Debug/netcoreapp2.2/Inter.Core.Presentation.csprojAssemblyReference.cache
/INTER.CORE/Inter.Core.Presentation/obj/Debug/netcoreapp2.2/Inter.Core.Presentation.RazorCoreGenerate.cache
/INTER.CORE/Inter.Core.Presentation/obj/Debug/netcoreapp2.2/Inter.Core.Presentation.Views.dll
/INTER.CORE/Inter.Core.Presentation/obj/Debug/netcoreapp2.2/Inter.Core.Presentation.Views.pdb
