@model ApplicationUserViewModel

<div id="content">

    @*@await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml", Model)*@

    @await Html.PartialAsync("~/Views/Shared/_partial/_dashboard.cshtml", Model)

</div>