@using Microsoft.AspNetCore.Identity

@inject UserManager<Inter.Core.Domain.Entities.ApplicationUser> User

<div id="content">

    @await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml", User)

    @await Html.PartialAsync("~/Views/Shared/_partial/_dashboard.cshtml")
</div>