<div id="content">

    @*@await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml", Model)*@

    @await Html.PartialAsync("~/Views/Shared/_partial/_dashboard.cshtml")

</div>


@section Scripts {

    <script src="~/js/Util/Util.js"></script>
    <script src="~/vendor/chart.js/Chart.js"></script>
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/Home/Home.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}