@model Inter.Core.App.ViewModel.CulturalExchangeViewModel

@await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml")

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">Cultural Exchange - NEW</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form id="form-create-culturalExchange" asp-action="OnCreate" class="well form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="col-md-4 control-label">Full Name*</label>
                                <select asp-for="StudentId" required class="custom-select"
                                        asp-items="@(new SelectList(ViewBag.Students,"Id","FullName"))">
                                    <option>Please select one</option>
                                </select>
                                <span asp-validation-for="StudentViewModel" class="text-danger"></span>
                            </div>
                        </div>

                        @await Html.PartialAsync("~/Views/CulturalExchange/_partial/_form_create_edit.cshtml", Model)

                        <input hidden asp-for="EnviromentId" value="@ViewBag.EnvironmentId" />

                    </form>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="button" onclick="culturalExchange.create()" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@await Html.PartialAsync("~/Views/Shared/_partial/_modalAlert.cshtml")


@section Scripts {

    <script src="~/js/Util/Util.js"></script>
    <script src="~/js/CulturalExchange/culturalExchange.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}