@model Inter.Core.App.ViewModel.CulturalExchangeViewModel

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">Cultural Exchange - NEW</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form id="form-create-culturalExchange" asp-action="OnCreate" class="well form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="col-md-6 control-label">Customer Id*</label>
                                <input type="text" name="StudentViewModel.CustomerId" class="form-control" disabled value="@Model.StudentViewModel.CustomerId" />
                                <span asp-validation-for="StudentViewModel.CustomerId" class="text-danger"></span>
                            </div>

                            <div class="col-md-4 form-group">
                                <label class="col-md-4 control-label">Full Name*</label>
                                <input type="text" class="form-control" disabled value="@Model.StudentViewModel.FullName" />
                                <span asp-validation-for="StudentViewModel.FullName" class="text-danger"></span>
                            </div>
                        </div>

                        @await Html.PartialAsync("~/Views/CulturalExchange/_partial/_form_create_edit.cshtml", Model)

                        <input hidden asp-for="EnviromentId" value="@ViewBag.EnvironmentId" />

                    </form>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="button" onclick="culturalExchange.create()" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@await Html.PartialAsync("~/Views/Shared/_partial/_modalAlert.cshtml")


@section Scripts {

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="~/js/Util/Util.js"></script>
    <script src="~/js/CulturalExchange/culturalExchange.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}