@model IEnumerable<CulturalExchangeViewModel>

<div class="container-fluid">
    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Cultural Exchange</h1>
        <p class="mb-4"><a target="_blank" href="CulturalExchange/Create">NEW</a></p>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-2">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>(Start) - Arrival Date</label>
                        <input id="startDateArrival" class="form-control" type="date">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>(Finish) - Arrival Date</label>
                        <input id="finishDateArrival" class="form-control" type="date">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="col-md-4 control-label">College</label>
                    <select name="CollegeId" id="college" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Colleges,"Id","Name"))">
                        <option>Please select one</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="col-md-4 control-label">Accomodation</label>
                    <select name="AccomodationId" id="accomodation" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Accomodations,"Id","Identifier"))">
                        <option>Please select one</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">

                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input type="button" onclick="culturalExchange.find()" value="Find" class="btn btn-primary" />

                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input type="button" value="Clear" onclick="culturalExchange.clearFilter()" class="btn btn-outline-secondary" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cultomer Id</th>
                            <th>Full Name</th>
                            <th>Date of Birth</th>
                            <th>College</th>
                            <th>Period</th>
                            <th>Accomodation</th>
                            <th>Arrival Date</th>
                            <th>Total Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    @await Html.PartialAsync("~/Views/CulturalExchange/_partial/_List.cshtml", Model)

                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_partial/_modalDelete.cshtml")

<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/Util/Util.js"></script>
<script src="~/js/CulturalExchange/culturalExchange.js"></script>

