@model CulturalExchangeFileUploadViewModel

@using Inter.Core.App.Enumerables

<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="FileUpload" asp-action="PostModalCulturalExchangeUploadFile" method="post"
                      enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Type:</label>
                                <select name="Type" asp-items="Html.GetEnumSelectList<CulturalExchangeTypeFileUpload>()" data-val-required="The Period field is required." class="form-control">
                                    <option value="">Selected</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input asp-for="Note" name="Note" placeholder="Note" class="form-control" required type="text">
                        </div>
                    </div>

                    <br />



                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>

                            </div>
                        </div>
                    </div>

                    <br/>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Upload File</button>
                            </div>
                        </div>
                    </div>

                    <input asp-for="CulturalExchangeId" type="hidden" value="@Model.CulturalExchangeId" />

                </form>
            </div>
        </div>
    </div>
</div>