@model CulturalExchangeViewModel

<div class="row">

    <div class="col-md-4">
        <label class="col-md-4 control-label">College*</label>
        <select asp-for="CollegeId" required id="college" class="form-control"
                asp-items="@(new SelectList(ViewBag.Colleges,"Id","Name"))">
            <option value="notselected">Please select one</option>
        </select>
        <span asp-validation-for="CollegeViewModel" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label class="col-md-4 control-label">Time*</label>
        <select asp-for="CollegeTimeId" required disabled id="collegeTime" class="form-control">
            <option value="notselected">Please select one</option>
        </select>
        <span asp-validation-for="CollegeTimeViewModel" class="text-danger"></span>
    </div>
</div>

<br />

<div class="row">

    <div class="col-md-4">
        <label class="col-md-4 control-label">Accomodation*</label>
        <select asp-for="AccomodationId" required name="Identifier" class="form-control"
                asp-items="@(new SelectList(ViewBag.Accomodations,"Id","Identifier"))">
            <option>Please select one</option>
        </select>
        <span asp-validation-for="AccomodationViewModel" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Weeks *</label>
            <select asp-for="WeekNumber" name="WeekNumber" required class="form-control">
                <option value="notselected">Please select one</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="12">12</option>
                <option value="25">25</option>
            </select>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Arrival*</label>
            <input asp-for="ArrivalDateTime" name="ArrivalDateTime" id="arrivalDateTime" placeholder="Start Time" class="form-control" required type="datetime-local">
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-6 control-label">Start Date*</label>
            <input asp-for="StartDate" name="StartDate" placeholder="Start Date" class="form-control" required type="date">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label>
                <input asp-for="Renew" id="renew" type="checkbox" class="custom-control-input" />
                <label asp-for="Renew" for="renew" class="custom-control-label">Renew?</label>
            </label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label>
                <input asp-for="OurAccomodation" id="accomodationIncludedCheck" type="checkbox" class="custom-control-input" />
                <label asp-for="OurAccomodation" for="accomodationIncludedCheck" class="custom-control-label">Our Accomodation?</label>
            </label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label asp-for="INSUR">
                <input asp-for="INSUR" id="insurCheck" type="checkbox" class="custom-control-input" />
                <label asp-for="INSUR" for="insurCheck" class="custom-control-label"></label>
            </label>
            <span asp-validation-for="INSUR" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label asp-for="Transfer">
                <input asp-for="Transfer" id="checkTransfer" type="checkbox" class="custom-control-input" />
                <label asp-for="Transfer" for="checkTransfer" class="custom-control-label"></label>
            </label>
            <span asp-validation-for="Transfer" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label asp-for="Support">
                <input asp-for="Support" id="checkSupport" type="checkbox" class="custom-control-input" />
                <label asp-for="Support" for="checkSupport" class="custom-control-label"></label>
            </label>
            <span asp-validation-for="Support" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label asp-for="Kit">
                <input asp-for="Kit" id="checkKit" type="checkbox" class="custom-control-input" />
                <label asp-for="Kit" for="checkKit" class="custom-control-label"></label>
            </label>
            <span asp-validation-for="Kit" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-2">
        <div class="custom-control custom-checkbox small">
            <label asp-for="SimCard">
                <input asp-for="SimCard" id="checkSimCard" type="checkbox" class="custom-control-input" />
                <label asp-for="SimCard" for="checkSimCard" class="custom-control-label"></label>
            </label>
            <span asp-validation-for="SimCard" class="text-danger"></span>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Start Accomodation*</label>
            <input type="date" asp-for="StartAccomodation" class="form-control date-accomodation" disabled />
            <span asp-validation-for="StartAccomodation" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">Finish Accomodation*</label>
            <input type="date" asp-for="FinishAccomodation" class="form-control date-accomodation" disabled />
            <span asp-validation-for="FinishAccomodation" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="col-md-2 control-label">Sale Date*</label>
            <input type="date" asp-for="SaleDate" id="saleDate" class="form-control" required />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="col-md-2 control-label">Flight Number*</label>
            <input type="text" asp-for="FlightNumber" id="flightNumber" class="form-control" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="col-md-2 control-label">Flight Company*</label>
            <input type="text" asp-for="Company" id="company" class="form-control" required />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Sales man*</label>
            <input class="form-control" type="text" asp-for="SalesMan" />
            <span asp-validation-for="SalesMan" class="text-danger"></span>

        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="col-md-42control-label">Total Value*</label>
            <input class="form-control" type="number" asp-for="TotalValue" />
            <span asp-validation-for="TotalValue" class="text-danger"></span>
        </div>
    </div>
</div>
