@model Inter.Core.App.ViewModel.AccomodationViewModel

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">Accomodation - EDIT</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form asp-action="Edit" asp-controller="Accomodation" class="well form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <fieldset>

                            @await Html.PartialAsync("~/Views/Accomodation/_partial/_form_create_edit.cshtml")

                            <input type="hidden" name="EnviromentId" value="@Model.EnviromentId" />

                        </fieldset>

                        <div class="form-group">
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}