@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">

                                    <section>
                                        <form id="account" class="user" method="post">
                                            <h4>Use a local account to log in.</h4>
                                            <hr />
                                            <div asp-validation-summary="All" class="text-danger"></div>

                                            <div class="form-group">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control form-control-user" placeholder="Enter email address" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control form-control-user" placeholder="password" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <label asp-for="Input.RememberMe">
                                                        <input asp-for="Input.RememberMe" id="customCheck" type="checkbox" class="custom-control-input" />
                                                        <label asp-for="Input.RememberMe" for="customCheck" class="custom-control-label"></label>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-user btn-block">Log in</button>
                                            </div>

                                            <div class="form-group">
                                                <p>
                                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                                </p>
                                                <p>
                                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                                </p>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
