@model Inter.Core.App.ViewModel.StudentViewModel

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">Student - NEW</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form method="post" id="studentData" data-ajax="true" class="well form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @await Html.PartialAsync("~/Views/Student/_partial/_form_create_edit.cshtml")

                    </form>

                    <div class="form-group">
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="button" onclick="student.create()" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>

    @await Html.PartialAsync("~/Views/Shared/_partial/_modalSuccess.cshtml")

</div>

@section Scripts {

    <script src="~/js/Util/Util.js"></script>
    <script src="~/js/Student/student.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
