@model Inter.Core.App.ViewModel.StudentViewModel

@await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml")

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">Student - EDIT</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form class="well form-horizontal" id="studentData">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <fieldset>

                            @await Html.PartialAsync("~/Views/Student/_partial/_form_create_edit.cshtml")

                        </fieldset>

                        <div class="form-group">
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="button" onclick="student.edit()" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    </form>

                    @*<form method="post" enctype="multipart/form-data" id="studentImage">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p>Upload one or more files using this form:</p>
                                    <input id="uploadfile" type="file" name="files" multiple>
                                </div>
                            </div>
                        </form>*@

                    @*<div class="form-group">
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="button" value="Save" onclick="student.create()" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>*@

                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {

    <script src="~/js/Util/Util.js"></script>
    <script src="~/js/Student/student.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}