<div class="container">
    <div class="row">
        <div class="modal fade" id="modalDelete" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>

                    <div class="modal-body">

                        <div class="thank-you-pop">
                            <img src="~/img/trash_icon.png" alt="">
                            <h1>Attention!</h1>
                            <p>Are you sure?</p>
                            <h3 class="cupon-pop"><span>You won't be able revert this!</span></h3>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="deleteButton" type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/successModal.css" rel="stylesheet" />