<div class="container">
    <div class="row">
        <div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>

                    <div class="modal-body">

                        <div class="thank-you-pop">
                            <img src="~/img/successImage.png" alt="">
                            <h1>Thank You!</h1>
                            <p>Your submission is received and we will contact you soon</p>
                            <h3 class="cupon-pop">Your Id: <span>12345</span></h3>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/successModal.css" rel="stylesheet" />