@model StudentViewModel


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Full Name*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span name="FullName" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="FullName" id="fullName" name="FullName" placeholder="Full Name" class="form-control" required type="text">
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Customer Id*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="customerId"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="CustomerId" name="CustomerId" id="customerId" placeholder="Customer Id" class="form-control" required type="text">
                </div>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Date of Birthday*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="DateOfBirthday" name="DateOfBirthday" id="dateOfBirthday" placeholder="Date Of Birthday" class="form-control" required type="date">
                </div>
                <span asp-validation-for="DateOfBirthday" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Mobile Number*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="MobileNumber"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="MobileNumber" name="MobileNumber" id="MobileNumber" placeholder="Mobile Number" class="form-control" required type="tel">
                </div>
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Passport Number*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="passportNumber"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="PassportNumber" id="passportNumber" placeholder="Passport Number" class="form-control" required type="text">
                </div>
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Passport Date of Issue*</label>
            <div class=" inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="passportDateOfIssue"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="PassportDateOfIssue" id="passportDateOfIssue" placeholder="Passport Date Of Issue" class="form-control" required type="date">
                </div>
                <span asp-validation-for="PassportDateOfIssue" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Passaport Date of Expiry*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="passportDateOfExpiry"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="PassportDateOfExpiry" id="passportDateOfExpiry" placeholder="Passport Date Of Expiry" class="form-control" required type="date">
                </div>
                <span asp-validation-for="PassportDateOfExpiry" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Email*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="MobileNumber"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="Email" name="Email" id="Email" placeholder="Email Address" class="form-control" required type="email">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Nationality*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="Address"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="Nationality" name="Nationality" id="Nationality" placeholder="Nationality" class="form-control" required type="text">
                </div>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Address*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="Address"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="Address" name="Address" id="address" placeholder="Address" class="form-control" required type="text">
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">City*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="City"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="City" id="city" placeholder="City" class="form-control" required type="text">
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Country*</label>
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon" name="Country"><i class="glyphicon glyphicon-home"></i></span>
                    <input asp-for="Country" id="country" placeholder="Country" class="form-control" required type="text">
                </div>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

