@model Inter.Core.App.ViewModel.CollegeViewModel

@await Html.PartialAsync("~/Views/Shared/_partial/_topMenu.cshtml")

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">College - NEW</h1>

    <table class="table table-striped" id="table-create-college">
        <tbody>
            <tr>
                <td colspan="1">
                    <form class="well form-horizontal" asp-action="Create" id="form-create-college">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @await Html.PartialAsync("~/Views/College/_partial/_form_create_edit.cshtml")

                        <div class="form-group" id="saveButton">
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input onclick="college.create();" type="button" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                    </form>

                    @await Html.PartialAsync("~/Views/Shared/_partial/_modalSuccess.cshtml")

                </td>
            </tr>

        </tbody>

    </table>

</div>

@section Scripts {

    <script src="~/js/Util/Util.js"></script>
    <script src="~/js/College/college.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
