@model CollegeViewModel

<div class="container">

    <h1 class="h3 mb-2 text-gray-800">Cultural Exchange - NEW</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                    <form id="form-create-culturalExchange" asp-action="OnCreate" class="well form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @await Html.PartialAsync("~/Views/College/_partial/_form_create_edit.cshtml", Model)

                        <input hidden asp-for="EnviromentId" value="@Model.EnviromentId" />

                    </form>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="div-modal-edit-college-time" tabindex="-1" role="dialog" aria-hidden="true">

</div>

@section Scripts {

    <script src="~/js/Util/Util.js"></script>
    <script src="~/js/College/college.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
